h1[b-i8sruv7l3s] {
    color: brown;
    font-family: Tahoma, Geneva, Verdana, sans-serif;
}

.SPradzen[b-i8sruv7l3s]{
    color:aqua;
}

[b-i8sruv7l3s] .e-grid .e-headercell {
    background-color: gray;
}

[b-i8sruv7l3s] .e-headercell {
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
}

[b-i8sruv7l3s] .e-grid .e-gridheader .e-headercell.e-attr .e-headercelldiv {
    text-align: center !important;
}

[b-i8sruv7l3s] .e-attr {
    text-align: center !important;
}


[b-i8sruv7l3s] .mud-td-row {
    text-align: center;
}


[b-i8sruv7l3s] .pa-4 {
    color: white !important;
    background-color: gray;
    text-align: center;
}

[b-i8sruv7l3s] .mud-table-head .header-centered th {
    text-align: center;
    font-size: 1.2em;
}

[b-i8sruv7l3s] .mud-table-cell th {
    text-align: center;
}



[b-i8sruv7l3s] .rz-datatable-thead th, .rz-grid-table thead th[b-i8sruv7l3s] {
    background-color: gray;
    padding: 0.5rem 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border-bottom: 1px solid #e9eaed;
}

[b-i8sruv7l3s] .rz-datatable-thead th .rz-column-title, .rz-grid-table thead th .rz-column-title[b-i8sruv7l3s] {
    display: inline-block;
    font-size: 0.875rem;
    line-height: 1.25rem;
    text-transform: none;
    text-align: center;
    color: white;
    padding: 0 0.125rem 0 0.5rem;
    font-weight: 600;
    vertical-align: middle;
}

[b-i8sruv7l3s] .rz-grid-table {
    text-align: center;
}

[b-i8sruv7l3s] .e-grid .e-altrow {
    background-color: violet;
}