.e-grid .e-headercell[b-i8sruv7l3s] {
    background-color: gray;
}

.e-headercell[b-i8sruv7l3s] {
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
}
[b-i8sruv7l3s] table {
    border: 2px solid red;
}
