.vs/
BethanysPieShopHRM.App/.vs
BethanysPieShopHRM.App/.vs/BethanysPieShopHRM.App/v17/.suo
BethanysPieShopHRM.App/.vs/BethanysPieShopHRM.App/v17/.suo
BethanysPieShopHRM.App/.vs/BethanysPieShopHRM.App/v17/.suo
