@page "/DataTableRadzen"
@using BlazorWAUIs.Pages
@using System.Net.Http.Json
@inject HttpClient httpClient



<h1>Radzen DataTable</h1>

<div style="display: flex; align-items: center; margin-bottom: 16px">
    <div style="white-space:nowrap; margin-right: 16px">Pager Position:</div>
    <RadzenDropDown @bind-Value="@pagerPosition" TextProperty="Text" ValueProperty="Value"
                    Data="@(Enum.GetValues(typeof(PagerPosition)).Cast<PagerPosition>().Select(t => new { Text = $"{t}", Value = t }))" />
</div>

<RadzenDataGrid TItem="Order" Data="@Orders" PagerPosition="@pagerPosition" AllowPaging="true" AllowSorting="true">
    <Columns>
        <RadzenDataGridColumn TItem="Order" Property="OrderID" Title="Order Id" />
        <RadzenDataGridColumn TItem="Order" Property="CustomerID" Title="Customer Name" />
        <RadzenDataGridColumn TItem="Order" Property="OrderDate" Title="Order Date" />
        <RadzenDataGridColumn TItem="Order" Property="Freight" Title="Freight" />

    </Columns>
</RadzenDataGrid>

