.e-grid .e-headercell {
    background-color: gray;
}

.e-headercell {
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
}

.e-grid .e-gridheader .e-headercell.e-attr .e-headercelldiv {
    text-align: center !important;
}

.e-attr {
    text-align: center !important;
}


.mud-td-row {
    text-align: center;
}


.pa-4 {
    color: white !important;
    background-color: gray;
    text-align: center;
}

.mud-table-head .header-centered th {
    text-align: center;
    font-size: 1.2em;
}

.mud-table-cell th {
    text-align: center;
}



.rz-datatable-thead th, .rz-grid-table thead th {
    background-color: gray;
    padding: 0.5rem 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border-bottom: 1px solid #e9eaed;
}

.rz-datatable-thead th .rz-column-title, .rz-grid-table thead th .rz-column-title {
    display: inline-block;
    font-size: 0.875rem;
    line-height: 1.25rem;
    text-transform: none;
    text-align: center;
    color: white;
    padding: 0 0.125rem 0 0.5rem;
    font-weight: 600;
    vertical-align: middle;
}

.rz-grid-table {
    text-align: center;
}
