/* /Pages/DataTables.razor.rz.scp.css */
h1[b-i8sruv7l3s] {
    color: brown;
    font-family: Tahoma, Geneva, Verdana, sans-serif;
}

.SPradzen[b-i8sruv7l3s]{
    color:aqua;
}

.e-grid .e-headercell[b-i8sruv7l3s] {
    background-color: gray;
}

.e-headercell[b-i8sruv7l3s] {
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
}

.e-grid .e-gridheader .e-headercell.e-attr .e-headercelldiv[b-i8sruv7l3s] {
    text-align: center !important;
}

.e-attr[b-i8sruv7l3s] {
    text-align: center !important;
}


.mud-td-row[b-i8sruv7l3s] {
    text-align: center;
}


.pa-4[b-i8sruv7l3s] {
    color: white !important;
    background-color: gray;
    text-align: center;
}

.mud-table-head .header-centered th[b-i8sruv7l3s] {
    text-align: center;
    font-size: 1.2em;
}

.mud-table-cell th[b-i8sruv7l3s] {
    text-align: center;
}



.rz-datatable-thead th[b-i8sruv7l3s], .rz-grid-table thead th[b-i8sruv7l3s] {
    background-color: gray;
    padding: 0.5rem 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border-bottom: 1px solid #e9eaed;
}

    .rz-datatable-thead th .rz-column-title[b-i8sruv7l3s], .rz-grid-table thead th .rz-column-title[b-i8sruv7l3s] {
        display: inline-block;
        font-size: 0.875rem;
        line-height: 1.25rem;
        text-transform: none;
        text-align: center;
        color: white;
        padding: 0 0.125rem 0 0.5rem;
        font-weight: 600;
        vertical-align: middle;
    }

.rz-grid-table[b-i8sruv7l3s] {
    text-align: center;
}
/* /Pages/Index.razor.rz.scp.css */
/* /Shared/MainLayout.razor.rz.scp.css */
.page[b-abjz143lvt] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-abjz143lvt] {
    flex: 1;
}

.sidebar[b-abjz143lvt] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-abjz143lvt] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-abjz143lvt]  a, .top-row[b-abjz143lvt]  .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

    .top-row[b-abjz143lvt]  a:hover, .top-row[b-abjz143lvt]  .btn-link:hover {
        text-decoration: underline;
    }

    .top-row[b-abjz143lvt]  a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-abjz143lvt] {
        display: none;
    }

    .top-row.auth[b-abjz143lvt] {
        justify-content: space-between;
    }

    .top-row[b-abjz143lvt]  a, .top-row[b-abjz143lvt]  .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-abjz143lvt] {
        flex-direction: row;
    }

    .sidebar[b-abjz143lvt] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-abjz143lvt] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row.auth[b-abjz143lvt]  a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }

    .top-row[b-abjz143lvt], article[b-abjz143lvt] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* /Shared/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-8ddqvri2tw] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-8ddqvri2tw] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-8ddqvri2tw] {
    font-size: 1.1rem;
}

.oi[b-8ddqvri2tw] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-8ddqvri2tw] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-8ddqvri2tw] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-8ddqvri2tw] {
        padding-bottom: 1rem;
    }

    .nav-item[b-8ddqvri2tw]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item[b-8ddqvri2tw]  a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item[b-8ddqvri2tw]  a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler[b-8ddqvri2tw] {
        display: none;
    }

    .collapse[b-8ddqvri2tw] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}
